<section class="section">
    <ul class="section__list">
        <li class="section__item">
            <mat-checkbox class="checkbox checkbox-first" (change)="onSelectAll($event)" [checked]="allItemsSelected" #selectAllInput>Select all</mat-checkbox>
        </li>
        <li class="section__item" *ngFor="let item of items; let i = index">
            <mat-checkbox class="checkbox checkbox-item" [checked]="item.checked" (change)="onSelectItem($event, i)">{{ item.display }}</mat-checkbox>
        </li>
    </ul>
</section>